<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" routerLink="/home">Blaine and Sanya's Wedding</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/registry">Registry</a>
		<a class="nav-item nav-link" routerLink="/RSVP">RSVP</a>
		<a class="nav-item nav-link" routerLink="/travel">Travel</a>
		</div>
	</div>
</nav>