.links {
	display:block;
	height:100%;
	text-decoration: none;
	background-color: black;
	color: white;
	border-bottom: 5px solid white;
}

.links:hover {
	background-color: white;
	color: aqua;
}

.links.active {
	border-bottom: 5px solid red;
}

.nav-element {
	height: 4rem;
}

.vertical-align {
    display: flex;
    align-items: center;
}