<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="display-5 mt-3">Registry</h1>
				</div>
			</div>
			<div ngClass="row {{ itemsLength <= 3 || index === 0 ? 'mt-5' : 'mt-2' }}" *ngFor="let index of createRange((itemsLength / 3) - 0.9)">
				<div class="col-10 offset-1 offset-md-0 col-md-4 mb-2">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(index).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(index).Title}}</h5>
							<p class="card-text text-center">{{getItem(index).Description}}</p>
							<a (click)="handleClick($event, getItem(index))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
				<div class="col-10 offset-1 offset-md-0 col-md-4 mb-2">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(index + 1).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(index + 1).Title}}</h5>
							<p class="card-text text-center">{{getItem(index + 1).Description}}</p>
							<a (click)="handleClick($event, getItem(index + 1))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
				<div class="col-10 offset-1 offset-md-0 col-md-4">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(index + 2).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(index + 2).Title}}</h5>
							<p class="card-text text-center">{{getItem(index + 2).Description}}</p>
							<a (click)="handleClick($event, getItem(index + 2))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
			</div>
			<div ngClass="row {{ itemsLength <= 3 ? 'mt-5' : 'mt-2' }}" *ngIf="itemsLength % 3 == 2">
				<div class="col-10 offset-1 col-md-6 offset-md-0 mb-2">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(itemsLength - 1).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(itemsLength - 1).Title}}</h5>
							<p class="card-text text-center">{{getItem(itemsLength - 1).Description}}</p>
							<a (click)="handleClick($event, getItem(itemsLength - 1))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
				<div class="col-10 offset-1 col-md-6 offset-md-0">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(itemsLength - 2).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(itemsLength - 2).Title}}</h5>
							<p class="card-text text-center">{{getItem(itemsLength - 2).Description}}</p>
							<a (click)="handleClick($event, getItem(itemsLength - 2))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
			</div>
			<div ngClass="row {{ itemsLength <= 3 ? 'mt-5' : 'mt-2' }}" *ngIf="itemsLength % 3 == 1">
				<div class="col-10 offset-1 col-md-6 offset-md-3">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{getItem(itemsLength - 1).ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">{{getItem(itemsLength - 1).Title}}</h5>
							<p class="card-text text-center">{{getItem(itemsLength - 1).Description}}</p>
							<a (click)="handleClick($event, getItem(itemsLength - 1))" routerLink="/payment" class="btn btn-primary float-right">Select</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
