<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-5 mt-3">RSVP</h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<p>Please fill out this form to RSVP.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="adults">Adults</label>
				<input type="text" class="form-control" id="adults" #adults (blur)="updateAdults(adults.value)" aria-describedby="adultsHelp" min="1">
				<div class="invalid-feedback">
					Please be sure to enter a number greater than or equal to One.
				</div>
				<small id="adultsHelp" class="form-text text-muted">Enter the number of adults.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="children">Children</label>
				<input type="text" class="form-control" id="children" #children (blur)="updateChildren(children.value)" aria-describedby="childrenHelp" min="0">
				<div class="invalid-feedback">
					Please be sure to enter a number greater than or equal to Zero.
				</div>
				<small id="childrenHelp" class="form-text text-muted">Enter the number of children.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="partyName">Party Name</label>
				<input type="text" class="form-control" id="partyName" #partyName (blur)="updatePartyName(partyName.value)" aria-describedby="partyNameHelp">
				<div class="invalid-feedback">
					Please be sure to enter a number greater than or equal to One. // never used
				</div>
				<small id="partyNameHelp" class="form-text text-muted">Enter a name for this party.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" #email (blur)="updateEmail(email.value)" aria-describedby="emailHelp">
				<div class="invalid-feedback">
					Please double check that the email entered is valid.
				</div>
				<small id="emailHelp" class="form-text text-muted">Enter an email to help keep you up-to-date with wedding events.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="attending">Will you be attending?</label>
				<select name="attending" class="form-control" id="attending" #attending (change)="updateAttending(attending.value)" aria-describedby="attendingHelp">
					<option value="na"></option>
					<option value="y">Yes</option>
					<option value="n">No</option>
				</select>
				<small id="attendingHelp" class="form-text text-muted">Please enter yes or no.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button class="float-right btn btn-primary" (click)="validateAndMove()" type="button">Next</button>
		</div>
	</div>
</div>


