<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row mb-3 mt-3">
				<div class="col-12 text-center">
					<h1 class="display-5 mt-3">
						Confirmation
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-5 offset-1 text-center">
					<div class="row">
						<div class="col-12">
							<p>Party: {{party}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>Email: {{email}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>Gift: ${{value}}</p>
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="row">
						<div class="col-12">
							If the details look correct, please use the links below to complete your gift. If the details don't look correct, please use the back button to change some details.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-4 offset-4">
					<div id="paypal-button-container"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button class="center btn btn-primary" (click)="goBack()" type="button">Go Back</button>
				</div>
			</div>
		</div>
	</div>
</div>
