
/* Header Parallax Element Style*/ 
.paral {
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

/* Paragraph for Parallax Section */ 
.paral p {
	font-size: 24px;
	color:#f5f5f5;
	text-align: center;
	line-height: 60px;
}

/* Heading for Parallax Section */ 
.paral h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 60px;
	text-align: center;
	padding-top: 60px;
	line-height: 100px;
}

.paralsec {
	background-image: url(../../assets/siteImages/EVEN-hotel-4000x3000.jpg);
}