<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
	<h1 class="display-5">Travel</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="offset-1 offset-md-0 col-10 col-md-8">
					<p>If you are coming in from out of town, we have reserved a block of rooms at the EVEN Hotel in downtown Omaha, NE. It is in the heart of Omaha and a short drive from The Old Market, Henry Doorly Zoo, Joslyn Art Museum, and the Durham Western Heritage Museum.<p> 
					<p>*A free shuttle will be provided by the hotel to and from the wedding on Friday.*</p>
					<p>The hotel has king size beds, with an option of either one or two king size beds. If you would like one or multiple of these rooms, please contact EVEN Hotel ASAP! You can contact them by phone or by following the link provided below. If you contact the hotel through the phone number, please ask for the TUNCAN-MINDEN group rate.</p> 
				</div>
				<div class="offset-1 offset-md-0 col-10 col-md-4">
					<p>EVEN Hotel Omaha Downtown</p>
					<p>2220 Farnam Street<br>Omaha, NE 68102<br>(402) 345-3836<br>*Free parking will be provided by EVEN Hotel*</p>
					<a href="https://www.evenhotels.com/redirect?path=hd&brandCode=VN&localeCode=en&regionCode=1&hotelCode=OMADT&_PMID=99801505&GPC=TMW&cn=no&viewfullsite=true" target="_blank">Click this link to book a hotel room!</a>
				</div>
			</div>
		</div>
	</div>
</div>

