<div class="container">
	<div class="row mt-5">
		<div class="col-12 mt-5">
			<h1 class="display-5 text-center">Thank you so much for your gift!</h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12 text-center">
			<button class="btn btn-primary" (click)="goBack()">Return Home</button>
		</div>
	</div>
</div>

