.jumbotron {
	min-height: 600px;
	background-image: url("../../assets/siteImages/HoldMeTight.jpeg");
	background-size: cover;
}
@media screen and (max-width: 900px) {
	.jumbotron {
		min-height: 300px;
	}
}