
<div class="container">
	<div class="row mt-4 mb-3">
		<div class="col-12">
			<h1 class="display-4 text-center">Welcome!</h1>
		</div>
	</div>
	<div class="row mb-3 mt-2">
		<div class="col-12 mb-2">
			<p class="text-center lead">Due to COVID-19, we have pushed our wedding back to May 21st, 2021. </p>
			<p class="text-center lead">The venue will still be the Omaha Design Center at 1502 Cuming St, Omaha, NE 68102. </p>
			<p class="text-center lead">Please use the RSVP page on this site.</p>
		</div>
	</div>
</div>

<div class="jumbotron"></div>

<div class="container mt-4 mb-4">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-10 offset-1">
					<h2>Wedding Information</h2>
				</div>	
			</div>
			<div class="row">
				<div class="col-10 offset-1">
					<p>Below there are links to view our registry, RSVP, and learn about the hotel where we have a block of rooms.</p>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12 col-xl-4 mb-4">
					<div class="card mx-auto" style="width: 18rem;">
						<img class="card-img-top" src="../../assets/siteImages/CuddleWuddle.jpeg" alt="Card image caption">
						<div class="card-body">
							<h5 class="card-title">Registry</h5>
							<p class="card-text">Explore the registry and find great gift ideas.</p>
							<a routerLink="/registry" class="btn btn-block btn-primary">Check out Registry</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4 mb-4">
					<div class="card mx-auto" style="width: 18rem;">
						<img class="card-img-top" src="../../assets/siteImages/IMG-20191201-WA0005.jpg" alt="Card image caption">
						<div class="card-body">
							<h5 class="card-title">RSVP</h5>
							<p class="card-text">RSVP to the wedding easily by filling out a quick form.</p>
							<a routerLink="/RSVP" class="btn btn-block btn-primary">Check out RSVP</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div class="card mx-auto" style="width: 18rem;">
						<img class="card-img-top" src="../../assets/siteImages/IMG-20191201-WA0003.jpg" alt="Card image caption">
						<div class="card-body">
							<h5 class="card-title">Travel</h5>
							<p class="card-text">Explore available hotels for those traveling to the wedding.</p>
							<a routerLink="/travel" class="btn btn-block btn-primary">Check out Travel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>